<section class="h-screen w-full flex flex-column align-items-center">
  <h1 class="text-3xl">Semaforo Inteligente</h1>
  <section class="semaforo">
    <section class="body">
      <section class="bol">
        @if (color['red']) {
        <section class="color red">

        </section>
        }
      </section>
      <section class="bol">
        @if (color['orange']) {
        <section class="color orange">

        </section>
        }
      </section>
      <section class="bol">
        @if (color['green']) {
        <section class="color green">

        </section>
        }
      </section>
    </section>
  </section>
</section>