.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .semaforo {
    height: 40dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;

      .btn {
        padding: .25rem 1rem;
        color: whitesmoke;
        border: none;
        border-radius: 5px;

        i {
          font-size: 1.75rem;
        }
      }

      button[disabled] {
        background-color: darkgray;
        cursor: default !important;
      }
    }

    .bols {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 0rem;
      height: 50%;

      .body {
        display: flex;
        justify-content: space-between;
      }

      .bol {
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        overflow: hidden;

        .color {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0.1;
        }

        .active {
          opacity: 1;
        }
      }
    }
  }

  .cars {
    height: 60dvh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .faixa {
      height: 15dvh;
      padding: .5rem;
      gap: 1rem;
      border-top: 1px solid whitesmoke;
      border-left: 1px solid whitesmoke;
      border-right: 1px solid whitesmoke;
      width: 50%;
      display: flex;
      justify-content: space-between;

      .blocos {
        height: 100%;
        width: calc(50% / 10);
        border-radius: 1px;
        background-color: white;
      }
    }


    .veiculos {
      border-left: 1px solid whitesmoke;
      border-right: 1px solid whitesmoke;
      height: 100%;
      width: 50%;
      padding: 1rem .5rem 0rem .5rem;

      .uni {
        height: 1.25rem;
        width: 100%;
        border-radius: 1px;

        background-color: red;

      }

      .carrinhos {
        height: calc(100% - 1rem);
        // background-color: red;
      }
    }
  }
}


.green {
  background-color: var(--green)
}

.orange {
  background-color: var(--orange);
}

.red {
  background-color: var(--red);
}

.carrinhos {
  position: relative;
  height: 500px;
  /* ajuste conforme necessário */
  overflow: hidden;
  // background-color: #f0f0f0;
  /* cor de fundo para melhor visualização */
}

.carro {
  position: absolute;
  bottom: -100px;
  /* fora da tela */
  width: 50px;
  /* ajuste conforme necessário */
  height: 100px;
  /* ajuste conforme necessário */
  background-color: blue;
  /* cor do carro */
}

@keyframes moveUp {
  0% {
    bottom: -100px;
  }

  /* fora da tela no início */
  100% {
    bottom: 500px;
  }

  /* altura da seção .carrinhos */
}


.moving {
  animation: moveUp 5s linear infinite;
}

.slowing {
  animation: none;
  /* parar a animação */
  bottom: calc(100% - 120px);
  /* ajusta para parar na faixa */
}