<section class="content">
  <section class="semaforo">
    <p class="text-xl m-0 font-bold p-1">Semaforo</p>
    <section class="form">
      <p-floatLabel>
        <p-inputNumber [disabled]="init" inputId="integeronly" [(ngModel)]="value" />
        <label for="number-input">Tempo(ms) 1000ms = 1s</label>
      </p-floatLabel>
      <button [disabled]="!value" [ngClass]="init ? 'red' : 'green'" class="cursor-pointer btn"
        (click)="init ? stop() : initSemaforo()">
        <i class="bi" [ngClass]="getIcon()"></i>
      </button>
    </section>
    <section class="bols">
      <section class="w-6 body">
        @for (cor of colors; track $index) {
        <div class="bol">
          <section [ngClass]="getColorClasses(cor)" class="color">
          </section>
        </div>
        }
      </section>
    </section>
  </section>
</section> 