@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

:root {
  --cor1: #FFF2E1;
  --cor2: #EAD8C0;
  --cor3: #D1BB9E;
  --cor4: #A79277;
  --green: #0A6847;
  --orange: #FF5F00;
  --red: #E72929;
  --black: #080202;
}

body {
  background-color: var(--black);
  font-family: "Inter", sans-serif;
  margin: 0;
}